NODE_ENV=development # development / production

# Backend
PORT=5000
DATABASE_URL="mysql://root:@localhost:3306/ctf_db"
JWT_ACCESS_SECRET="ctf-1c78dd0979d4b1bde6c4bd8cfb06686c8dac3229796cae20f24e27a2303ca38c"
JWT_REFRESH_SECRET="ctf-3282c3677cce80ad7606fd958e955fda5b94de5163f7efe76f2e164c7166379b"
CLIENT_URL="http://localhost:5173"
REDIS_URL="redis://localhost:6379"
MAX_UPLOAD_SIZE_MB=50

# Frontend
VITE_ENV=development
VITE_APP_TITLE="RISERANGER 2 CTF"
VITE_API_URL="/api"
VITE_SOCKET_URL="http://localhost:5000"
VITE_ENABLE_DEBUG_LOGS=true # production = true; devlopment = false;
